{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'rent/css/panel.css' %}">
    <!-- Font Icons css -->
    <link rel="stylesheet" href="{% static 'rent/css/font-icons.css' %}">
    <!-- plugins css -->
    <link rel="stylesheet" href="{% static 'rent/css/plugins.css' %}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'rent/css/style.css' %}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static 'rent/css/responsive.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Golden Rent | Favorilerim</title>
</head>
<body>

    <!--  HEADER -->
    <header class="ltn__header-area ltn__header-5 ltn__header-transparent--- gradient-color-4---">
        <!-- ltn__header-top-area start -->
        <div class="ltn__header-top-area section-bg-6 top-area-color-white---">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="ltn__top-bar-menu">
                            <ul>
                                <li><a href="mailto:help.rentapart@gmail.com"><i class="icon-mail"></i> help.rentapart@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="top-bar-right text-end">
                            <div class="ltn__top-bar-menu">
                                <ul>
                                    <li>
                                        <!-- ltn__social-media -->
                                        <div class="ltn__social-media">
                                            <ul>
                                                <li><a href="#" title="Facebook"><i class='bx bxl-facebook'></i></a></li>
                                                <li><a href="#" title="Twitter"><i class='bx bxl-twitter' ></i></a></li>
                                                <li><a href="#" title="Linkedin"><i class='bx bxl-linkedin' ></i></a></li>
                                                <li><a href="#" title="Youtube"><i class='bx bxl-instagram' ></i></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ltn__header-top-area end -->
        
        <!-- ltn__header-middle-area start -->
        <div class="ltn__header-middle-area ltn__header-sticky ltn__sticky-bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="site-logo-wrap">
                            <div class="site-logo">
                                <a href="/"><img src="{% static 'rent/img/logo.png' %}" alt="Logo" style='width: 35%;'></a>
                            </div>
                        </div>
                    </div>
                    <div class="col header-menu-column">
                        <div class="header-menu d-none d-xl-block">
                            <nav>
                                <div class="ltn__main-menu">
                                    <ul>
                                        <li><a href="/">Anasayfa</a></li>
                                        <li><a href="/about/">Hakkımızda</a> </li>
                                        <li><a href="/contact/">İletişim</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="col ltn__header-options ltn__header-options-2 mb-sm-20">
                        <!-- header-search-1 -->
                        <div class="header-search-wrap">
                            <div class="header-search-1-form">
                                <form id="#" method="get"  action="#">
                                    <input type="text" name="search" value="" placeholder="Search here..."/>
                                    <button type="submit">
                                        <span><i class="icon-search"></i></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- user-menu -->
                        <div class="ltn__drop-menu user-menu">
                            <ul>
                                <li>
                                    <a href="#"><i class="icon-user"></i></a>
                                    <ul>
                                        <li><a href="/profile/">Hesabım</a></li>
                                        {% if request.user.is_superuser %}
                                            <li><a href="/panel/">Yönetici Paneli</a></li>
                                        {% endif %}
                                        <li><a href="/ilanlarim/">İlanlarım</a></li>
                                        <li><a href="/favorite/">Favoriler</a></li>
                                        <li><a href="/account/logout/">Çıkış Yap</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- Mobile Menu Button -->
                        <div class="mobile-menu-toggle d-xl-none">
                            <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle" onclick='toggleMenu()'>
                                <svg viewBox="0 0 800 600">
                                    <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
                                    <path d="M300,320 L540,320" id="middle"></path>
                                    <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ltn__header-middle-area end -->
    </header>
    <!-- HEADER END -->

    <!-- Utilize Mobile Menu Start -->
    <div id="ltn__utilize-mobile-menu" class="ltn__utilize ltn__utilize-mobile-menu" >
        <div class="ltn__utilize-menu-inner ltn__scrollbar">
            <div class="ltn__utilize-menu-head">
                <div class="site-logo">
                    <a href="index.html"><img src="{% static 'rent/img/logo.png' %}" alt="Logo"></a>
                </div>
                <button class="ltn__utilize-close" onclick='toggleMenu()'>×</button>
            </div>
            <div class="ltn__utilize-menu">
                <ul>
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="/about/">Hakkımızda</a></li>
                    <li><a href="/contact/">İletişim</a></li>
                </ul>
            </div>
            <div class="ltn__utilize-buttons ltn__utilize-buttons-2">
                <ul>
                    <li>
                        <a href="/profile/" title="Hesabım">
                            <span class="utilize-btn-icon">
                                <i class='bx bx-user' ></i>
                            </span>
                            Hesabım
                        </a>
                    </li>
                    <li>
                        <a href="/favorite/" title="Favoriler">
                            <span class="utilize-btn-icon">
                                <i class='bx bx-heart' ></i>
                            </span>
                            Favoriler
                        </a>
                    </li>
                    <li>
                        <a href="/account/logout/" title="Çıkış">
                            <span class="utilize-btn-icon">
                                <i class='bx bx-log-out-circle' ></i>
                            </span>
                            Çıkış Yap
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ltn__social-media-2">
                <ul>
                    <li><a href="#" title="Facebook"><i class='bx bxl-facebook'></i></a></li>
                    <li><a href="#" title="Twitter"><i class='bx bxl-twitter' ></i></a></li>
                    <li><a href="#" title="Linkedin"><i class='bx bxl-linkedin' ></i></a></li>
                    <li><a href="#" title="Youtube"><i class='bx bxl-instagram' ></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Utilize Mobile Menu End -->

    <div class="container mt-5">
        <h2>Favorilerim </h2>
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-1" style="color:white"><b>İlan Fotoğrafı</b></div>
            <div class="col col-2" style="color:white"><b>İlan Başlığı</b></div>
            <div class="col col-3" style="color:white"><b>İşlemler</b></div>
          </li>

            {% for rent in renting %}
            <li class="table-row" style="place-items: center;">
                <div class="col col-1">
                    <a href="{% url 'renting:apart' rent.house.uuid %}">
                        <img src="{{ rent.images.0.image.url }}" style="max-width: 78px" >
                    </a>
                </div>
                <div class="col col-2">
                    <a class="item bg-dark text-white" href="{% url 'renting:apart' rent.house.uuid %}">
                        {{ rent.house.title|truncatechars:20 }}
                    </a>
                </div>
                <div class="col col-3">
                        
                        <a class="item bg-danger text-white text-align-center" href="{% url 'renting:remove_favorite' rent.house.uuid %}" style="cursor: pointer">
                            Favorilerden çıkar
                            <i class='bx bx-x'></i>
                        </a>
                </div>
            </li>
            {% endfor %}
          
        </ul>
    </div>


    <!-- FOOTER AREA START -->
    <footer class="ltn__footer-area" style='margin-top: 12rem!important'>
        <div class="footer-top-area  section-bg-2 plr--5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-about-widget">
                            <div class="footer-logo">
                                <div class="site-logo">
                                    <img src="{% static 'rent/img/logo.png' %}" alt="Logo" class='w-50'>
                                </div>
                            </div>
                            <div class="footer-address">
                                <ul>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-placeholder"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p>İstanbul, Beyoğlu</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-call"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p><a href="tel:+212-456-789">+212-456-789</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-mail"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p><a href="mailto:example@example.com">help.rentapart@gmail.com</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="ltn__social-media mt-20">
                                <ul>
                                    <li><a href="#" title="Facebook"><i class='bx bxl-facebook'></i></a></li>
                                    <li><a href="#" title="Twitter"><i class='bx bxl-twitter' ></i></a></li>
                                    <li><a href="#" title="Linkedin"><i class='bx bxl-linkedin' ></i></a></li>
                                    <li><a href="#" title="Youtube"><i class='bx bxl-instagram' ></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Şirket</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="/about/">Hakkımızda</a></li>
                                    <li><a href="/">Tüm İlanlar</a></li>
                                    <li><a href="/contact/">İletişime Geç</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Servislerimiz</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="/ilanlarim/">İlan Takip</a></li>
                                    <li><a href="/favorite/">Favorilerim</a></li>
                                    <li><a href="/profile/">Hesabım</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Müşteri Destek</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="/contact/">Teknik Destek</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ltn__copyright-area ltn__copyright-2 section-bg-7  plr--5">
            <div class="container-fluid ltn__border-top-2">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="ltn__copyright-design clearfix">
                            <p>Tüm Hakları Saklıdır @ Golden Rent <span class="current-year"></span></p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER AREA END -->

   <!-- All JS Plugins -->
   <script src="{% static 'rent/js/plugins.js' %}"></script>
   <!-- Main JS -->
   <script src="{% static 'rent/js/main.js' %}"></script>
   
</body>
</html>
